:root{
    --main-bg-color: blue;
}

h1{
    color: blue;
}a

.header, .explanation, .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ciphers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
