<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptography</title>
</head>
<body>
    <h1>Cryptography</h1>
    <a href="http://localhost:3001/affine">Affine</a>
    <a href="http://localhost:3001/caesar">Caesar</a>
    <a href="http://localhost:3001/vigenere">Vigenere</a>
    <a href="http://localhost:3001/aristocrat">Aristocrat</a>
</body>
</html>
